@font-face {
    font-family: 'vazirmatn';
    src: url('assest/fonts/Vazirmatn-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ece8e8;
    font-family: 'vazirmatn';
}

body {
    position: relative;
    inset: 0;
    /* height: 100vh; */
    width: 100vw;
    gap: 46px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(90deg, #141729 20%, #000000 50%, #141729 100%);
    font-size: min(100vw\1920, 100vh\720);
}


.stars {
    position: absolute;
    inset: 0;
    background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
        radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
        radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
        radial-gradient(1px 1px at 50px 70px, #fff, transparent),
        radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    background-size: 100px 100px, 140px 130px, 160px 120px, 100px 100px, 200px 180px;
    animation: thestars 4s ease-in-out infinite;
}

.now-buttons {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    z-index: 1;
    background: transparent;
    align-items: center;
    text-align: center;
    color: #ece8e8;
    text-decoration: none;
    height: 30px;
    padding: 0 10px 0 10px;
}

button {
    all: unset;
    cursor: pointer;
}

#summeryofme {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.item {
    text-align: end;
    width: 100%;
}

#hero {
    background-color: #000000;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 330px;
    padding: 10px;
}

.badges {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

#aboutme {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
    width: 90%;
    min-height: 150px;
    height: fit-content;
    padding: 30px;
}

#aboutme p {
    /* text-align: end; */
    /* row-gap: 6px; */
    line-height: 22px;
    /* color: ; */
    color: #ffffffc5;
}

#aboutme h3 {
    color: rgb(113, 113, 196);
}

.logo {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.avatarhero {
    width: 130px;
    object-fit: cover;
    height: 130px;
    /* box-shadow: ; */
    border-radius: 50%;
}

.summerybox {
    width: 30%;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7px;
}

.summerybox h3 {
    font-size: xx-large;
}

.summerybox p {
    color: #ffffffa4;
    font-size: large;
}

.mylearnedsinhero {
    width: 130px;
    height: 180px;
    padding: 16px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.colral {
    background: linear-gradient(#465cac, #452f5e, #533c5a);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.color {
    background: linear-gradient(#172657, #351757, #481757) !important;
    padding: 8px;
}

@keyframes thestars {
    0% {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 50px 70px, #fff, transparent),
            radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    }

    20% {
        background-image: radial-gradient(1.2px 1.3px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
            radial-gradient(0.7px 0.7px at 50px 70px, #fff, transparent),
            radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    }

    45% {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
            radial-gradient(0.9px 0.9px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 50px 70px, #fff, transparent),
            radial-gradient(1.4px 1.4px at 30px 90px, #fff, transparent);
    }

    70% {
        background-image: radial-gradient(0.7px 0.7px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.8px 1.8px at 40px 50px, #fff, transparent),
            radial-gradient(1.3px 1.3px at 50px 70px, #fff, transparent),
            radial-gradient(1.7px 1.7px at 30px 90px, #fff, transparent);
    }

    100% {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 50px 70px, #fff, transparent),
            radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    }
}

.now-bar {
    z-index: 10;
    display: flex;
    justify-content: center;
    background: #1f2937 !important;
    align-items: center;
    width: 90%;
    /* margin-bottom: 46px; */
    height: 45px;
    position: fixed !important;
    top: 10px;
}

.description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
}

h1 {
    font-size: xxx-large;
}

.badge {
    font-size: 15px;
    width: fit-content;
    padding: 9px;
    background: rgba(83, 124, 67, 0.1) !important;
}

#projects {
    gap: 6px;

    width: 90%;
    /* height: 180px; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.shadow {
    z-index: 1;
    background: #172657;
    position: relative;

}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
}
.icon{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: #364e9c;
}
.badgeprojects{
    padding: 4px;
    border:#1a2449 1px solid;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: #465cac96;
}
.badgeprojects p{
    font-size: x-small;
    color: #ffffff9c;
}
.project {
    width: 200px;
    padding: 10px;
    gap: 8px;
    display: flex;
    justify-content: end;

    flex-direction: column;
    align-items: baseline;
    border-radius: 20px;
    border: #481757 2px solid;
    height: 120px;
}
.project h3{
    /* width: 100%; */
    text-align: start;

}
.project p{
    font-size: x-small;
    line-height: 14px;
}
.shadow::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 30px;
    border-radius: 20px;

    background: url("/assest/pictures/picture.jpg") center 55% / cover no-repeat;

    -webkit-mask-image: linear-gradient(to bottom,
            rgba(36, 34, 34, 0.37) 10%,
            transparent 100%);

    mask-image: linear-gradient(to bottom,
            rgba(36, 34, 34, 0.588) 10%,
            transparent 100%);

    z-index: -1;
}

/* Liquid Glass Card */
.liquid-glass-card {
    /* position: relative; */
    border-radius: 12px;
    background: #1f29378e;
    box-shadow:
        4px 4px 8px 1px rgba(255, 255, 255, 0.2),
        -4px -4px 8px 1px rgba(0, 0, 0, 0.4);
}

a:active,
button:active {
    box-shadow:
        2px 2px 4px 0.5px rgba(255, 255, 255, 0.2),
        -2px -2px 4px 0.5px rgba(0, 0, 0, 0.4);

}