@font-face {
    font-family: 'vazirmatn';
    src: url('assest/fonts/Vazirmatn-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ece8e8;
    font-family: 'vazirmatn';
}

body {
    margin-bottom: 15px;
    position: relative;
    inset: 0;
    /* height: 100vh; */
    width: 100vw;
    gap: 46px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(90deg, #141729 20%, #000000 50%, #141729 100%);
    font-size: min(100vw\1920, 100vh\720);
}


.stars {
    position: absolute;
    inset: 0;
    background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
        radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
        radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
        radial-gradient(1px 1px at 50px 70px, #fff, transparent),
        radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    background-size: 100px 100px, 140px 130px, 160px 120px, 100px 100px, 200px 180px;
    animation: thestars 4s ease-in-out infinite;
}

.now-buttons {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    z-index: 1;
    background: transparent;
    align-items: center;
    text-align: center;
    color: #ece8e8;
    text-decoration: none;
    height: 30px;
    padding: 0 10px 0 10px;
}

.About-me-badge {
    display: flex;
    gap: 8px;
}

button {
    all: unset;
    cursor: pointer;
}

#summeryofme {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#summeryofme .icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#summeryofme .icon i {
    font-size: x-large;
}

.item {
    text-align: end;
    width: 100%;
}

#licences .About-me-badge {
    height: 40px;
    color: #728dec;
    width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}

#licences .About-me-badge i,
#licences .About-me-badge h3 {
    color: #728dec;

}

#projects .About-me-badge {
    height: 40px;
    color: #728dec;
    width: 180px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}

#projects .About-me-badge i,
#projects .About-me-badge h3 {
    color: #728dec;

}

#whatmenow .About-me-badge {
    height: 40px;
    color: #728dec;
    width: 260px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}

#whatmenow .About-me-badge i,
#whatmenow .About-me-badge h3 {
    color: #728dec;

}

#thetimeline .About-me-badge {
    height: 40px;
    color: #728dec;
    width: 120px;
    margin-bottom: 90px;
    /* margin-right: 10px; */
    margin-left: calc(100% - 110px);
    padding: 10px;
}

#thetimeline .About-me-badge i,
#thetimeline .About-me-badge h3 {
    color: #728dec;

}

pre,
.information p {
    line-height: 20px;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;

}

#hero {
    background-color: #000000;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 330px;
    padding: 10px;
}

.badges {
    display: flex;
    gap: 5px;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#aboutme {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
    width: 90%;
    min-height: 150px;
    height: fit-content;
    padding: 30px;
}

#aboutme p {
    /* text-align: end; */
    /* row-gap: 6px; */
    line-height: 22px;
    /* color: ; */
    color: #ffffffc5;
}

#aboutme h3 {
    color: rgb(113, 113, 196);
}

.logo {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.avatarhero {
    width: 130px;
    object-fit: cover;
    height: 130px;
    /* box-shadow: ; */
    border-radius: 50%;
}

.summerybox {
    width: 30%;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.summerybox h3 {
    font-size: xx-large;
}

.summerybox p {
    color: #ffffffa4;
    font-size: large;
}

.mylearnedsinhero {
    width: 130px;
    height: 180px;
    padding: 16px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.colral {
    background: linear-gradient(#465cac, #452f5e, #533c5a);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.color {
    background: linear-gradient(#172657, #351757, #481757) !important;
    padding: 8px;
}

@keyframes thestars {
    0% {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 50px 70px, #fff, transparent),
            radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    }

    20% {
        background-image: radial-gradient(1.2px 1.3px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
            radial-gradient(0.7px 0.7px at 50px 70px, #fff, transparent),
            radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    }

    45% {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
            radial-gradient(0.9px 0.9px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 50px 70px, #fff, transparent),
            radial-gradient(1.4px 1.4px at 30px 90px, #fff, transparent);
    }

    70% {
        background-image: radial-gradient(0.7px 0.7px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.8px 1.8px at 40px 50px, #fff, transparent),
            radial-gradient(1.3px 1.3px at 50px 70px, #fff, transparent),
            radial-gradient(1.7px 1.7px at 30px 90px, #fff, transparent);
    }

    100% {
        background-image: radial-gradient(1px 1px at 20px 30px, #fff, transparent),
            radial-gradient(0.5px 0.5px at 40px 50px, #fff, transparent),
            radial-gradient(1.5px 1.5px at 40px 50px, #fff, transparent),
            radial-gradient(1px 1px at 50px 70px, #fff, transparent),
            radial-gradient(2px 2px at 30px 90px, #fff, transparent);
    }
}

.now-bar {
    z-index: 10;
    display: flex;
    justify-content: center;
    background: #1f2937 !important;
    align-items: center;
    width: 90%;
    /* margin-bottom: 46px; */
    height: 45px;
    position: fixed !important;
    top: 10px;
}

.description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
}

h1 {
    font-size: xxx-large;
}

.badge {
    font-size: 15px;
    width: fit-content;
    padding: 9px;
    background: rgba(83, 124, 67, 0.1) !important;
}

#projects,
#licences {
    gap: 6px;

    width: 90%;
    /* height: 180px; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

#whatmenow {
    width: 90%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
}

.grid {
    width: 100%;
    min-height: 60px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(7, 1fr);
}

.skill {
    width: 66px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skill .icon {
    width: 40px;
    height: 40px;
}

.shadow {
    z-index: 1;
    background: #172657;
    position: relative;

}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #364e9c;
}

.badgeprojects {
    padding: 4px;
    border: #1a2449 1px solid;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: #465cac96;
}

.badgeprojects p {
    font-size: x-small;
    color: #ffffff9c;
}

.project {
    width: 200px;
    padding: 10px;
    gap: 8px;
    display: flex;
    justify-content: end;

    flex-direction: column;
    align-items: baseline;
    border-radius: 20px;
    border: #481757 2px solid;
    height: 160px;
}

.project h3 {
    /* width: 100%; */
    text-align: start;


}

.project p {
    font-size: x-small;
    line-height: 14px;
}

.shadow::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 30px;
    border-radius: 20px;

    background: var(--image) center 55% / cover no-repeat;

    -webkit-mask-image: linear-gradient(to bottom,
            rgba(36, 34, 34, 0.37) 10%,
            transparent 100%);

    mask-image: linear-gradient(to bottom,
            rgba(36, 34, 34, 0.588) 10%,
            transparent 100%);

    z-index: -1;
}

#thetimeline {
    /* overflow-y: scroll; */
    width: 90%;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    padding: 50px;
}

#thetimeline .timeline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
}

.line {
    position: relative;
    border-radius: 3px;
    width: 3px;
    height: 1430px;
    background-color: #0095ec;
}

.information {
    padding: 7px;
    position: absolute;
    width: 100%;
    transform: translateY(-40%);
}

.line span {
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0095ec;
    /* box-shadow: -1px -1px 4px 4px #c74be025; */
}

.informations {
    position: relative;
    width: calc(100% - 10px);
    height: 1430px;
    box-shadow: none;
    /* background-color: #351757; */
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#callme {
    width: 90%;
    min-height: 150px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-direction: column;
}

#callme h1 {
    font-size: xx-large;
}


.bi-fastapi {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/fastapi-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/fastapi-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-vscode {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/vscode-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/vscode-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-sql {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/sql-database-generic-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/sql-database-generic-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-python {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/python-logo-only.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/python-logo-only.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-nodejs {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/nodejs-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/nodejs-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-micropython {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/MicroPython_new_logo.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/MicroPython_new_logo.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-jinja {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/jinja-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/jinja-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-javascript-my {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/javascript-logo-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/javascript-logo-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-html {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/html5-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/html5-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-go {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/go-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/go-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-git-my {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/git-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/git-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-flutter {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/flutter-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/flutter-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-django {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/django-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/django-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-dart {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/dart-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/dart-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-css-my {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/css-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/css-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-bootstrap-my {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/bootstrap-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/bootstrap-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-bale {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/bale-svgrepo-com.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/bale-svgrepo-com.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.bi-gmail {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/gmail.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/gmail.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}
.bi-python {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.125em;
    background-color: currentColor;
    mask-image: url('assest/skilslogos/python-logo-only.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('assest/skilslogos/python-logo-only.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}


@media   (max-width:768px){
    .now-bar{display: none;}
    .hero{margin-top: 40px;}
    .informations .information:nth-child(1),.line span:nth-child(1){top: 0px !important;}
    .informations .information:nth-child(2),.line span:nth-child(2){top: 260px !important;}
    .informations .information:nth-child(3),.line span:nth-child(3){top: 510px !important;}
    .informations .information:nth-child(4),.line span:nth-child(4){top: 740px !important;}
    .informations .information:nth-child(5),.line span:nth-child(5){top: 1080px !important;}
    .informations .information:nth-child(6),.line span:nth-child(6){top: 1410px !important;}
    .informations , .line{height: 1800px;}
    .grid{grid-template-columns: repeat(4, 1fr);}
    .project{width: 170px;height: 170px;}

}
















/* Liquid Glass Card */
.liquid-glass-card {
    /* position: relative; */
    border-radius: 12px;
    background: #1f29378e;
    box-shadow:
        4px 4px 8px 1px rgba(255, 255, 255, 0.2),
        -4px -4px 8px 1px rgba(0, 0, 0, 0.4);
}

a:active,
button:active {
    box-shadow:
        2px 2px 4px 0.5px rgba(255, 255, 255, 0.2),
        -2px -2px 4px 0.5px rgba(0, 0, 0, 0.4);

}